In [22]:
# Importaci贸n de librerias
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import warnings
warnings.filterwarnings('ignore')

## Extracci贸n
- Creamos la conexi贸n y extraemos las tablas necesarias para crear las dimensiones

In [23]:
# 1. Crear el motor de conexion y activarlo
engine = create_engine('postgresql+psycopg2://postgres:270106@localhost:5432/northwind')
connection = engine.connect()

In [31]:
df_categories = pd.read_sql(
    "SELECT * FROM categories",
    engine
)
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    8 non-null      int64
 1   category_name  8 non-null      object
 2   description    8 non-null      object
 3   picture        8 non-null      object
dtypes: int64(1), object(3)
memory usage: 388.0+ bytes

In [25]:
df_customers = pd.read_sql(
    "SELECT * FROM customers",
    engine
)
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    91 non-null     object
 1   company_name   91 non-null     object
 2   contact_name   91 non-null     object
 3   contact_title  91 non-null     object
 4   address        91 non-null     object
 5   city           91 non-null     object
 6   region         31 non-null     object
 7   postal_code    90 non-null     object
 8   country        91 non-null     object
 9   phone          91 non-null     object
 10  fax            69 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB

In [26]:
df_products = pd.read_sql(
    "SELECT * FROM products",
    engine
)
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         77 non-null     int64
 1   product_name       77 non-null     object
 2   supplier_id        77 non-null     int64
 3   category_id        77 non-null     int64
 4   quantity_per_unit  77 non-null     object
 5   unit_price         77 non-null     float64
 6   units_in_stock     77 non-null     int64
 7   units_on_order     77 non-null     int64
 8   reorder_level      77 non-null     int64
 9   discontinued       77 non-null     int64
dtypes: float64(1), int64(7), object(2)
memory usage: 6.1+ KB

In [27]:
df_suppliers = pd.read_sql(
    "SELECT * FROM suppliers",
    engine
)
df_suppliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   supplier_id    29 non-null     int64
 1   company_name   29 non-null     object
 2   contact_name   29 non-null     object
 3   contact_title  29 non-null     object
 4   address        29 non-null     object
 5   city           29 non-null     object
 6   region         9 non-null      object
 7   postal_code    29 non-null     object
 8   country        29 non-null     object
 9   phone          29 non-null     object
 10  fax            13 non-null     object
 11  homepage       5 non-null      object
dtypes: int64(1), object(11)
memory usage: 2.8+ KB

In [28]:
df_orders = pd.read_sql(
    "SELECT * FROM orders",
    engine
)
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          830 non-null    int64
 1   customer_id       830 non-null    object
 2   employee_id       830 non-null    int64
 3   order_date        830 non-null    object
 4   required_date     830 non-null    object
 5   shipped_date      809 non-null    object
 6   ship_via          830 non-null    int64
 7   freight           830 non-null    float64
 8   ship_name         830 non-null    object
 9   ship_address      830 non-null    object
 10  ship_city         830 non-null    object
 11  ship_region       323 non-null    object
 12  ship_postal_code  811 non-null    object
 13  ship_country      830 non-null    object
dtypes: float64(1), int64(3), object(10)
memory usage: 90.9+ KB

In [29]:
df_order_details = pd.read_sql(
    "SELECT * FROM order_details",
    engine
)
df_order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    2155 non-null   int64
 1   product_id  2155 non-null   int64
 2   unit_price  2155 non-null   float64
 3   quantity    2155 non-null   int64
 4   discount    2155 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 84.3 KB

## Transformaci贸n

- Crear dim_categorias
- Crear dim_clientes
- Crear dim_productos
- Crear dim_proveedor
- Crear dim_tiempo
- Crear fact_ordenes