In [38]:
# Importación de librerias
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import warnings
warnings.filterwarnings('ignore')

## Extracción
- Creamos la conexión y extraemos las tablas necesarias para crear las dimensiones

In [39]:
# 1. Crear el motor de conexion y activarlo
engine = create_engine('postgresql+psycopg2://postgres:270106@localhost:5432/northwind')
connection = engine.connect()

In [40]:
df_categories = pd.read_sql(
    "SELECT * FROM categories",
    engine
)
df_categories

,category_id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",[]
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",[]
2,3,Confections,"Desserts, candies, and sweet breads",[]
3,4,Dairy Products,Cheeses,[]
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",[]
5,6,Meat/Poultry,Prepared meats,[]
6,7,Produce,Dried fruit and bean curd,[]
7,8,Seafood,Seaweed and fish,[]

In [41]:
df_customers = pd.read_sql(
    "SELECT * FROM customers",
    engine
)
df_customers

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

In [42]:
df_products = pd.read_sql(
    "SELECT * FROM products",
    engine
)
df_products

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0

In [43]:
df_suppliers = pd.read_sql(
    "SELECT * FROM suppliers",
    engine
)
df_suppliers

,supplier_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax,homepage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,None,EC1 4SD,UK,(171) 555-2222,None,None
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,None,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,None
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,None,100,Japan,(03) 3555-5011,None,None
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,None,None
5,6,Mayumi's,Mayumi Ohno,Marketing Representative,92 Setsuko Chuo-ku,Osaka,None,545,Japan,(06) 431-7877,None,Mayumi's (on the World Wide Web)#http://www.mi...
6,7,"Pavlova, Ltd.",Ian Devling,Marketing Manager,74 Rose St. Moonie Ponds,Melbourne,Victoria,3058,Australia,(03) 444-2343,(03) 444-6588,None
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,Sales Representative,29 King's Way,Manchester,None,M14 GSD,UK,(161) 555-4448,None,None
8,9,PB Knäckebröd AB,Lars Peterson,Sales Agent,Kaloadagatan 13,Göteborg,None,S-345 67,Sweden,031-987 65 43,031-987 65 91,None
9,10,Refrescos Americanas LTDA,Carlos Diaz,Marketing Manager,Av. das Americanas 12.890,Sao Paulo,None,5442,Brazil,(11) 555 4640,None,None
10,11,Heli Süßwaren GmbH & Co. KG,Petra Winkler,Sales Manager,Tiergartenstraße 5,Berlin,None,10785,Germany,(010) 9984510,None,None
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,International Marketing Mgr.,Bogenallee 51,Frankfurt,None,60439,Germany,(069) 992755,None,Plutzer (on the World Wide Web)#http://www.mic...
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Coordinator Foreign Markets,Frahmredder 112a,Cuxhaven,None,27478,Germany,(04721) 8713,(04721) 8714,None
13,14,Formaggi Fortini s.r.l.,Elio Rossi,Sales Representative,"Viale Dante, 75",Ravenna,None,48100,Italy,(0544) 60323,(0544) 60603,#FORMAGGI.HTM#
14,15,Norske Meierier,Beate Vileid,Marketing Manager,Hatlevegen 5,Sandvika,None,1320,Norway,(0)2-953010,None,None
15,16,Bigfoot Breweries,Cheryl Saylor,Regional Account Rep.,3400 - 8th Avenue Suite 210,Bend,OR,97101,USA,(503) 555-9931,None,None
16,17,Svensk Sjöföda AB,Michael Björn,Sales Representative,Brovallavägen 231,Stockholm,None,S-123 45,Sweden,08-123 45 67,None,None
17,18,Aux joyeux ecclésiastiques,Guylène Nodier,Sales Manager,"203, Rue des Francs-Bourgeois",Paris,None,75004,France,(1) 03.83.00.68,(1) 03.83.00.62,None
18,19,New England Seafood Cannery,Robb Merchant,Wholesale Account Agent,Order Processing Dept. 2100 Paul Revere Blvd.,Boston,MA,02134,USA,(617) 555-3267,(617) 555-3389,None
19,20,Leka Trading,Chandra Leka,Owner,"471 Serangoon Loop, Suite #402",Singapore,None,0512,Singapore,555-8787,None,None
20,21,Lyngbysild,Niels Petersen,Sales Manager,Lyngbysild Fiskebakken 10,Lyngby,None,2800,Denmark,43844108,43844115,None
21,22,Zaanse Snoepfabriek,Dirk Luchte,Accounting Manager,Verkoop Rijnweg 22,Zaandam,None,9999 ZZ,Netherlands,(12345) 1212,(12345) 1210,None
22,23,Karkki Oy,Anne Heikkonen,Product Manager,Valtakatu 12,Lappeenranta,None,53120,Finland,(953) 10956,None,None
23,24,"G'day, Mate",Wendy Mackenzie,Sales Representative,170 Prince Edward Parade Hunter's Hill,Sydney,NSW,2042,Australia,(02) 555-5914,(02) 555-4873,G'day Mate (on the World Wide Web)#http://www....
24,25,Ma Maison,Jean-Guy Lauzon,Marketing Manager,2960 Rue St. Laurent,Montréal,Québec,H1J 1C3,Canada,(514) 555-9022,None,None
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Order Administrator,"Via dei Gelsomini, 153",Salerno,None,84100,Italy,(089) 6547665,(089) 6547667,None
26,27,Escargots Nouveaux,Marie Delamare,Sales Manager,"22, rue H. Voiron",Montceau,None,71300,France,85.57.00.07,None,None
27,28,Gai pâturage,Eliane Noz,Sales Representative,"Bat. B 3, rue des Alpes",Annecy,None,74000,France,38.76.98.06,38.76.98.58,None
28,29,Forêts d'érables,Chantal Goulet,Accounting Manager,148 rue Chasseur,Ste-Hyacinthe,Québec,J2S 7S8,Canada,(514) 555-2955,(514) 555-2921,None

In [44]:
df_orders = pd.read_sql(
    "SELECT * FROM orders",
    engine
)
df_orders

,order_id,customer_id,employee_id,order_date,required_date,shipped_date,ship_via,freight,ship_name,ship_address,ship_city,ship_region,ship_postal_code,ship_country
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05,1998-06-02,None,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico
826,11074,SIMOB,7,1998-05-06,1998-06-03,None,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark
827,11075,RICSU,8,1998-05-06,1998-06-03,None,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
828,11076,BONAP,4,1998-05-06,1998-06-03,None,2,38.28,Bon app',"12, rue des Bouchers",Marseille,None,13008,France
829,11077,RATTC,1,1998-05-06,1998-06-03,None,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [45]:
df_order_details = pd.read_sql(
    "SELECT * FROM order_details",
    engine
)
df_order_details

      order_id  product_id  unit_price  quantity  discount
0        10248          11       14.00        12      0.00
1        10248          42        9.80        10      0.00
2        10248          72       34.80         5      0.00
3        10249          14       18.60         9      0.00
4        10249          51       42.40        40      0.00
...        ...         ...         ...       ...       ...
2150     11077          64       33.25         2      0.03
2151     11077          66       17.00         1      0.00
2152     11077          73       15.00         2      0.01
2153     11077          75        7.75         4      0.00
2154     11077          77       13.00         2      0.00

[2155 rows x 5 columns]

## Transformación

- Crear dim_categorias
- Crear dim_clientes
- Crear dim_productos
- Crear dim_proveedor
- Crear dim_tiempo
- Crear fact_ordenes

In [46]:
# Creación de la dimensión categorías
df_categories_clean = df_categories.copy()
df_categories_clean = df_categories_clean[
    ['category_id', 'category_name', 'description']
]
df_categories_clean = df_categories_clean[
    df_categories_clean['category_id'].notnull()
]
dim_categorias = df_categories_clean.copy()
dim_categorias.reset_index(drop=True, inplace=True)
dim_categorias = dim_categorias[
    ['category_id', 'category_name', 'description']
]

dim_categorias

,category_id,category_name,description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [47]:
# Creación de la dimensión clientes

df_customers_clean = df_customers.copy()
df_customers_clean = df_customers_clean[
    ['customer_id', 'company_name', 'contact_name', 'city', 'region']
]

df_customers_clean = df_customers_clean[
    df_customers_clean['customer_id'].notnull()
]

dim_clientes = df_customers_clean.copy()
dim_clientes.reset_index(drop=True, inplace=True)
dim_clientes = dim_clientes[
    ['customer_id', 'company_name', 'contact_name', 'city', 'region']
]
dim_clientes

,customer_id,company_name,contact_name,city,region
0,ALFKI,Alfreds Futterkiste,Maria Anders,Berlin,None
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,México D.F.,None
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,México D.F.,None
3,AROUT,Around the Horn,Thomas Hardy,London,None
4,BERGS,Berglunds snabbköp,Christina Berglund,Luleå,None
...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Oulu,None
87,WELLI,Wellington Importadora,Paula Parente,Resende,SP
88,WHITC,White Clover Markets,Karl Jablonski,Seattle,WA
89,WILMK,Wilman Kala,Matti Karttunen,Helsinki,None
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Warszawa,None

In [48]:
# Creación de la dimensión productos
df_products_clean = df_products.copy()
df_products_clean = df_products_clean[
    ['product_id', 'product_name', 'unit_price', 'discontinued']
]

df_products_clean = df_products_clean[
    df_products_clean['product_id'].notnull()
]

df_products_clean['discontinued'] = (
    df_products_clean['discontinued'].astype(bool)
)

dim_productos = df_products_clean.copy()
dim_productos.reset_index(drop=True, inplace=True)
dim_productos = dim_productos[
    ['product_id', 'product_name', 'unit_price', 'discontinued']
]

dim_productos

    product_id                     product_name  unit_price  discontinued
0            1                             Chai       18.00          True
1            2                            Chang       19.00          True
2            3                    Aniseed Syrup       10.00         False
3            4     Chef Anton's Cajun Seasoning       22.00         False
4            5           Chef Anton's Gumbo Mix       21.35          True
..         ...                              ...         ...           ...
72          73                       Röd Kaviar       15.00         False
73          74                    Longlife Tofu       10.00         False
74          75             Rhönbräu Klosterbier        7.75         False
75          76                     Lakkalikööri       18.00         False
76          77  Original Frankfurter grüne Soße       13.00         False

[77 rows x 4 columns]

In [49]:
# Creación de la dimensión proveedores
df_suppliers_clean = df_suppliers.copy()
df_suppliers_clean = df_suppliers_clean[
    ['supplier_id', 'company_name', 'contact_name', 'city', 'region']
]

df_suppliers_clean = df_suppliers_clean[
    df_suppliers_clean['supplier_id'].notnull()
]

dim_proveedores = df_suppliers_clean.copy()
dim_proveedores.reset_index(drop=True, inplace=True)
dim_proveedores = dim_proveedores[
    ['supplier_id', 'company_name', 'contact_name', 'city', 'region']
]

dim_proveedores

,supplier_id,company_name,contact_name,city,region
0,1,Exotic Liquids,Charlotte Cooper,London,None
1,2,New Orleans Cajun Delights,Shelley Burke,New Orleans,LA
2,3,Grandma Kelly's Homestead,Regina Murphy,Ann Arbor,MI
3,4,Tokyo Traders,Yoshi Nagase,Tokyo,None
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Asturias
5,6,Mayumi's,Mayumi Ohno,Osaka,None
6,7,"Pavlova, Ltd.",Ian Devling,Melbourne,Victoria
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,Manchester,None
8,9,PB Knäckebröd AB,Lars Peterson,Göteborg,None
9,10,Refrescos Americanas LTDA,Carlos Diaz,Sao Paulo,None
10,11,Heli Süßwaren GmbH & Co. KG,Petra Winkler,Berlin,None
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,Frankfurt,None
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Cuxhaven,None
13,14,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,None
14,15,Norske Meierier,Beate Vileid,Sandvika,None
15,16,Bigfoot Breweries,Cheryl Saylor,Bend,OR
16,17,Svensk Sjöföda AB,Michael Björn,Stockholm,None
17,18,Aux joyeux ecclésiastiques,Guylène Nodier,Paris,None
18,19,New England Seafood Cannery,Robb Merchant,Boston,MA
19,20,Leka Trading,Chandra Leka,Singapore,None
20,21,Lyngbysild,Niels Petersen,Lyngby,None
21,22,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,None
22,23,Karkki Oy,Anne Heikkonen,Lappeenranta,None
23,24,"G'day, Mate",Wendy Mackenzie,Sydney,NSW
24,25,Ma Maison,Jean-Guy Lauzon,Montréal,Québec
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Salerno,None
26,27,Escargots Nouveaux,Marie Delamare,Montceau,None
27,28,Gai pâturage,Eliane Noz,Annecy,None
28,29,Forêts d'érables,Chantal Goulet,Ste-Hyacinthe,Québec

In [50]:
# Creación de la dimensión tiempo

df_time_clean = df_orders.copy()
df_time_clean = df_time_clean[['order_date']]
df_time_clean = df_time_clean[df_time_clean['order_date'].notnull()]

# Convertir a datetime
df_time_clean['order_date'] = pd.to_datetime(df_time_clean['order_date'])

df_time_clean = df_time_clean[df_time_clean['order_date'].notnull()]

# Quitar duplicados
df_time_clean = df_time_clean.drop_duplicates(subset=['order_date'])

df_time_clean['month'] = [i.month for i in df_time_clean['order_date']]
df_time_clean['day'] = [i.day for i in df_time_clean['order_date']]
df_time_clean['year'] = [i.year for i in df_time_clean['order_date']]
df_time_clean['month_name'] = [i.strftime('%B') for i in df_time_clean['order_date']]
df_time_clean['day_name'] = [i.strftime('%A') for i in df_time_clean['order_date']]
df_time_clean['quarter'] = [i.quarter for i in df_time_clean['order_date']]

dim_tiempo = df_time_clean.copy()
dim_tiempo.reset_index(drop=True, inplace=True)
dim_tiempo = dim_tiempo[
    ['order_date', 'month', 'day', 'year', 'month_name', 'day_name', 'quarter']
]

dim_tiempo

    order_date  month  day  year month_name   day_name  quarter
0   1996-07-04      7    4  1996       July   Thursday        3
1   1996-07-05      7    5  1996       July     Friday        3
2   1996-07-08      7    8  1996       July     Monday        3
3   1996-07-09      7    9  1996       July    Tuesday        3
4   1996-07-10      7   10  1996       July  Wednesday        3
..         ...    ...  ...   ...        ...        ...      ...
475 1998-04-30      4   30  1998      April   Thursday        2
476 1998-05-01      5    1  1998        May     Friday        2
477 1998-05-04      5    4  1998        May     Monday        2
478 1998-05-05      5    5  1998        May    Tuesday        2
479 1998-05-06      5    6  1998        May  Wednesday        2

[480 rows x 7 columns]

In [51]:
# Creación de la tabla de hechos (ventas)
df_fact_sales = df_order_details.copy()

# 1) Limpieza mínima: quitar nulos en llaves y métricas clave
df_fact_sales = df_fact_sales.dropna(
    subset=['order_id', 'product_id', 'unit_price', 'quantity', 'discount'],
    how='any'
)

# 2) Traer info de orders (customer_id, order_date, freight)
df_fact_sales = df_fact_sales.merge(
    df_orders[['order_id', 'customer_id', 'order_date', 'freight']],
    on='order_id',
    how='left'
)

# 3) Quitar filas que no lograron hacer match con orders (por integridad)
df_fact_sales = df_fact_sales.dropna(
    subset=['customer_id', 'order_date', 'freight'],
    how='any'
)

# 4) Traer supplier_id y category_id desde products (para conectar dimensiones)
df_fact_sales = df_fact_sales.merge(
    df_products[['product_id', 'supplier_id', 'category_id']],
    on='product_id',
    how='left'
)

# 5) Quitar filas sin supplier/category (si quieres integridad estricta)
df_fact_sales = df_fact_sales.dropna(
    subset=['supplier_id', 'category_id'],
    how='any'
)

# 6) Asegurar tipo fecha para unir con dim_tiempo
df_fact_sales['order_date'] = pd.to_datetime(df_fact_sales['order_date'])

# 7) Métrica calculada: amount
df_fact_sales['amount'] = df_fact_sales['unit_price'] * df_fact_sales['quantity']

# 8) Tabla final
fact_sales = df_fact_sales.copy()
fact_sales.reset_index(drop=True, inplace=True)

fact_sales['id_sales'] = fact_sales.index + 1

fact_sales = fact_sales[
    [
        'id_sales',         # PK
        'order_id',         # número de orden (order)
        'customer_id',      # FK dim_clientes
        'product_id',       # FK dim_productos
        'supplier_id',      # FK dim_proveedores
        'category_id',      # FK dim_categorias
        'order_date',       # FK dim_tiempo
        'freight',          # medida
        'unit_price',       # medida
        'quantity',         # medida
        'discount',         # medida
        'amount'            # medida calculada
    ]
]

fact_sales

,id_sales,order_id,customer_id,product_id,supplier_id,category_id,order_date,freight,unit_price,quantity,discount,amount
0,1,10248,VINET,11,5,4,1996-07-04,32.38,14.00,12,0.00,168.0
1,2,10248,VINET,42,20,5,1996-07-04,32.38,9.80,10,0.00,98.0
2,3,10248,VINET,72,14,4,1996-07-04,32.38,34.80,5,0.00,174.0
3,4,10249,TOMSP,14,6,7,1996-07-05,11.61,18.60,9,0.00,167.4
4,5,10249,TOMSP,51,24,7,1996-07-05,11.61,42.40,40,0.00,1696.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2150,2151,11077,RATTC,64,12,5,1998-05-06,8.53,33.25,2,0.03,66.5
2151,2152,11077,RATTC,66,2,2,1998-05-06,8.53,17.00,1,0.00,17.0
2152,2153,11077,RATTC,73,17,8,1998-05-06,8.53,15.00,2,0.01,30.0
2153,2154,11077,RATTC,75,12,1,1998-05-06,8.53,7.75,4,0.00,31.0
2154,2155,11077,RATTC,77,12,2,1998-05-06,8.53,13.00,2,0.00,26.0

## Carga

In [ ]:

engine_olap = create_engine('postgresql+psycopg2://postgres:270106@localhost:5432/northwind_olap')
dim_categorias.to_sql('dim_categorias', con=engine_olap, if_exists='replace', index=False)
dim_clientes.to_sql('dim_clientes', con=engine_olap, if_exists='replace', index=False)
dim_productos.to_sql('dim_productos', con=engine_olap, if_exists='replace', index=False)
dim_proveedores.to_sql('dim_proveedores', con=engine_olap, if_exists='replace', index=False)
dim_tiempo.to_sql('dim_tiempo', con=engine_olap, if_exists='replace', index=False)
fact_sales.to_sql('fact_sales', con=engine_olap, if_exists='replace', index=False)

155

In [53]:
connection = psycopg2.connect(
    host="localhost",
    database="northwind_olap",
    user="postgres",
    password="270106",
    port="5432"
)

cursor = connection.cursor()

In [ ]:

cursor.execute("""
ALTER TABLE dim_categorias
ADD CONSTRAINT pk_dim_categorias PRIMARY KEY (category_id)
""")

cursor.execute("""
ALTER TABLE dim_clientes
ADD CONSTRAINT pk_dim_clientes PRIMARY KEY (customer_id)
""")

cursor.execute("""
ALTER TABLE dim_productos
ADD CONSTRAINT pk_dim_productos PRIMARY KEY (product_id)
""")

cursor.execute("""
ALTER TABLE dim_proveedores
ADD CONSTRAINT pk_dim_proveedores PRIMARY KEY (supplier_id)
""")

cursor.execute("""
ALTER TABLE dim_tiempo
ADD CONSTRAINT pk_dim_tiempo PRIMARY KEY (order_date)
""")

cursor.execute("""
ALTER TABLE fact_sales
ADD CONSTRAINT pk_fact_sales PRIMARY KEY (id_sales)
""")


cursor.execute("""
ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_customer
FOREIGN KEY (customer_id) REFERENCES dim_clientes(customer_id)
""")

cursor.execute("""
ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_product
FOREIGN KEY (product_id) REFERENCES dim_productos(product_id)
""")

cursor.execute("""
ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_supplier
FOREIGN KEY (supplier_id) REFERENCES dim_proveedores(supplier_id)
""")

cursor.execute("""
ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_category
FOREIGN KEY (category_id) REFERENCES dim_categorias(category_id)
""")

cursor.execute("""
ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_time
FOREIGN KEY (order_date) REFERENCES dim_tiempo(order_date)
""")

connection.commit()
cursor.close()
connection.close()